@model RegionalFF.Models.Fiscalizacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fiscalizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiscal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiscal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadPasajeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPasajeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
