@model IEnumerable<RegionalFF.Models.Fiscalizacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiscal.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transporte.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadPasajeros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiscal.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transporte.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadPasajeros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
