@using Microsoft.AspNet.Identity
@using RegionalFF.Controllers

@if (!Request.IsAuthenticated)
{
    Response.Redirect("http://localhost:2491/Account/Login");
}

@{
    ViewBag.Denominacion = "RegionalFF";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @ViewBag.Titulo - @ViewBag.SubTitle @ViewBag.SubTiTulo - @ViewBag.Denominacion</title>
    <link id="Link2" rel="icon" href="~/RegionalFF.ico" type="image/ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/modernizr")
    @{
        HttpCookie RegionalFFCookies = HttpContext.Current.Request.Cookies["GlobalRegionalFF"] ?? new HttpCookie("GlobalRegionalFF ");
    }
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="http://localhost:2491" class="site_title">
                            @*<i class="fa fa-pencil-square-o"></i>*@
                            <img src="~/Content/img/RegionalFF.jpg" alt="@RegionalFFCookies.Values["Usuario"]" class="image" width="50" title="@RegionalFFCookies.Values["Usuario"]" />
                            <span>@ViewBag.Denominacion</span>

                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Content/img/Uploads/Usuarios/@RegionalFFCookies.Values["ImagenUsuarioCurrent"]" alt="@RegionalFFCookies.Values["Usuario"]" class="img-circle profile_img tip" title="@RegionalFFCookies.Values["Usuario"]" />
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>@RegionalFFCookies.Values["NombreUsuario"] @RegionalFFCookies.Values["ApellidoUsuario"] </h2>
                            <h2 class="border-green page-header">@RegionalFFCookies.Values["Rol"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @if (User.IsInRole("Administrador"))
                        {
                            <div class="menu_section">
                                <h3 class="text-red">@RegionalFFCookies.Values["Rol"]</h3>
                                <ul class="nav side-menu">
                                    @{
                                        Html.RenderAction("MenuAdmin", "Accesos");
                                    }
                                </ul>
                            </div>
                        }
                        <div class="menu_section">
                            <h3>Menú</h3>
                            <ul class="nav side-menu">
                                @{
                                    Html.RenderAction("MenuPrincipal", "Menus");
                                }
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a href="@Url.Action("Index", "Manage")" hreflang="es-py" data-toggle="tooltip" data-placement="top" title="Ajustes">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year - @ViewBag.Denominacion | @RegionalFFCookies.Values["Oficina"]
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @RenderSection("scripts", required: false)
    <!-- Datatables -->
    <script>
        $(document).on("click", "[type='checkbox']", function (e) {
            if (this.checked) {
                $(this).attr("value", "true");
            } else {
                $(this).attr("value", "false");
            }
        });
        $(function () {
            if (history.forward(1)) {
                location.replace(history.forward(1))
            }

            $("#Imagen").fileinput({
                theme: "fa",
                allowedFileExtensions: ["jpg", "png", "gif"],
                showCaption: false,
                showUpload: false,
                maxFileCount: 1
            });

            $('#datetimepicker6').datetimepicker({
                useCurrent: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY'
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });

            $('#Fecha').val('@ViewBag.Fecha');
            $('#UserId').val('@ViewBag.User');

            $('#Fecha').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss'
            });

            $('#selectize, #Roles, #CiudadId, #PaisId, #OficinaId, #TransporteId, #MarcaId, #ConductorId, #UserId').selectize({
                allowEmptyOption: true,
                create: false,
                persist: false,
                createOnBlur: false
            });

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
                //});
                //$('#mensaje').delay(6000).fadeOut(2000);
            })
        });
    </script>

    <!-- /Datatables -->
    @if (TempData["notice"] != null)
    {
        <script>
            $(function () {
                new PNotify({
                    title: "Realizado",
                    type: "success",
                    text: "@TempData["notice"].",
                    //addclass: 'dark',
                    styling: 'bootstrap3',
                });

            });
        </script>
    }
</body>


</html>
