@if (Request.IsAuthenticated)
{
    Response.Redirect("http://localhost:2491");
}

@{
    ViewBag.Denominacion = "RegionalFF";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewBag.Title | @ViewBag.Denominacion</title>
    <link id="Link2" rel="icon" href="~/RegionalFF.ico" type="image/ico" />

    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Datatables -->
    <script>
        $(function () {
            if (history.forward(1)) {
                location.replace(history.forward(1))
            }

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
            });
            $('#mensaje').delay(6000).fadeOut(2000);

        })
    </script>


    @if (TempData["notice"] != null)
    {
        <script id="mensaje">
            $(function () {
                new PNotify({
                    title: "Error iniciando sesión!  ",
                    type: "error",
                    text: "@TempData["notice"].",
                    addclass: 'error',
                    styling: 'bootstrap3',
                });

                $('#Email').focus();
                $('#Password').focus();

            });
        </script>
    }
</body>

</html>
