@if (Request.IsAuthenticated)
{
    Response.Redirect("http://localhost:2491");
}

@{
    ViewBag.Denominacion = "RegionalFF";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewBag.Title | @ViewBag.Denominacion</title>
    <script language="JavaScript">
        //javascript: window.history.forward(1);
        //javascript: window.history.back(1);
    </script>
    @Styles.Render("~/Content/login")
    <link href="~/Content/blue.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/icheck.min.js"></script>
    <!-- Datatables -->
    <script>
        $(function () {

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
            });

            if (history.forward(1)) {
                location.replace(history.forward(1))
            }
        })
    </script>


    @if (TempData["notice"] != null)
    {
        <script>
            $(function () {
                new PNotify({
                    title: "Informe: ",
                    type: "error",
                    text: "@TempData["notice"].",
                    addclass: 'error',
                    styling: 'bootstrap3',
                });

                $('#Email').focus();
                $('#Password').focus();

            });
        </script>
    }
</body>

</html>
