@{
    if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Administrador"))
        {
            Response.Redirect(Url.Action("Index", "Admin"));
        }
        else if (User.IsInRole("Facilitador"))
        {
            Response.Redirect(Url.Action("Index", "Facilitaciones"));
        }
        else if (User.IsInRole("Fiscalizador"))
        {
            Response.Redirect(Url.Action("Index", "Fiscalizaciones"));
        }
        else
        {
            Response.Redirect(Url.Action("Index", "Home"));
        }
    }

    ViewBag.Denominacion = "RegionalFF";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | @ViewBag.Denominacion</title>
    <link id="Link2" rel="icon" href="~/RegionalFF.ico" type="image/ico" />

    @Styles.Render("~/Content/login")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>

<body class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // making sure we have the fruit available for juice....
                // 50 milliseconds for just once do not cost much (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            // Earlier we had setInerval here....
            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {

                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };

            };
        })(window);
    </script>

    <script>
        $(function () {
            $('.submit').on('click', function () {
                var Email = $("#Email").val();
                var Pass = $("#Password").val();
                if ((Email != "") && (Password != "")) {
                    var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 10000);
                }
                //else {
                //    alert("Todos los campos son obligatorios");
                //}
            });
            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
            });
            $('#mensaje').delay(500).fadeOut(500);
        })
    </script>


    @if (TempData["notice"] != null)
    {
        <script id="mensaje">
            $(function () {
                new PNotify({
                    title: "@TempData["noticeTitle"]",
                    type: "error",
                    text: "@TempData["notice"]",
                    addclass: 'error',
                    styling: 'bootstrap3',
                });

                $('#Email').focus();
                $('#Password').focus();

            });
        </script>
    }
    @if (TempData["confirmacion"] != null)
    {
        <script id="mensaje">
            $(function () {
                new PNotify({
                    title: "@TempData["confirmacionTitle"]",
                    type: "info",
                    text: "@TempData["confirmacion"].",
                    addclass: 'info',
                    styling: 'bootstrap3',
                });
            });
        </script>
    }
</body>

</html>
