<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script language="JavaScript">
        javascript: window.history.forward(1);
        //javascript: window.history.back(1);
    </script>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    @{
        ViewBag.Denominacion = "RegionalFF";
    }

</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
