@model RegionalFF.Models.Facilitacion
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Facilitación";
    ViewBag.SubTitle = "Detalle de Facilitación";
}

<div class="page-title">
    <div class="title_left">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="title_right">
        <div class="pull-right">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Facilitaciones")" class="btn btn-default" title="Volver"><i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.SubTitle</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-info " data-toggle="dropdown" title="Ir a" role="button" aria-expanded="false">
                            <i class="fa fa-filter"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("VerTodo", "Facilitaciones")"><i class="fa fa-list"></i> Ver Todo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EsteMes", "Facilitaciones")"><i class="fa fa-list"></i> Este Mes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EsteAño", "Facilitaciones")"><i class="fa fa-list"></i> Este Año</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h1>
                                <i class="fa fa-table"></i> @ViewBag.Title
                                <small class="pull-right"><i class="fa fa-calendar"></i> @String.Format("{0:dd/MM/yyyy}", Model.Fecha)</small>
                            </h1>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-9 invoice-col">
                            <address>
                                <strong><i class="fa fa-user"></i> @Html.DisplayFor(model => model.Usuario.Nombre) @Html.DisplayFor(model => model.Usuario.Apellido)</strong>
                                @*<br>@Html.DisplayNameFor(model => model.Usuario.Direccion): @Html.DisplayFor(model => model.Usuario.Direccion)
                                <br>@Html.DisplayNameFor(model => model.Usuario.Documento): @Html.DisplayFor(model => model.Usuario.Documento)*@
                                <br>@Html.DisplayNameFor(model => model.Usuario.PhoneNumber):  @Html.DisplayFor(model => model.Usuario.PhoneNumber)
                                <br>@Html.DisplayNameFor(model => model.Usuario.Email): @Html.DisplayFor(model => model.Usuario.Email)
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 invoice-col">
                            <address>
                                <strong><i class="fa fa-building"></i> @Html.DisplayFor(model => model.Usuario.Oficina.Nombre)</strong>
                                @*<br>@Html.DisplayNameFor(model => model.Usuario.Oficina.Sigla): @Html.DisplayFor(model => model.Usuario.Oficina.Sigla)*@
                                <br>@Html.DisplayNameFor(model => model.Usuario.Oficina.Ciudad): @Html.DisplayFor(model => model.Usuario.Oficina.Ciudad)
                                <br>@Html.DisplayNameFor(model => model.Usuario.Oficina.Departamento): @Html.DisplayFor(model => model.Usuario.Oficina.Departamento)
                                <br>@Html.DisplayNameFor(model => model.Usuario.Oficina.Direccion):  @Html.DisplayFor(model => model.Usuario.Oficina.Direccion)
                            </address>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table id="datatable" class="table table-striped table-hover table-condensed dt-responsive " cellspacing="0" width="100%">
                                <thead>
                                    <tr class="bg-blue">
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario)
                                        </th>
                                        <th>
                                            <i class="fa fa-long-arrow-left"></i>
                                            País de origen
                                        </th>
                                        <th>
                                            Destino
                                            <i class="fa fa-long-arrow-right"></i>
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cantidad)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Estadia)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Observaciones)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayFor(model => model.Usuario.Nombre) @Html.DisplayFor(model => model.Usuario.Apellido) </th>
                                        <td class="text-danger">
                                            @Html.DisplayFor(model => model.Pais.Nombre)
                                        </td>
                                        <td class="text-success">
                                            @Html.DisplayFor(model => model.Ciudad.Nombre)
                                        </td>
                                        <td>
                                            <span class="badge">
                                                @Html.DisplayFor(model => model.Cantidad)
                                            </span>
                                        </td>
                                        <th>@Html.DisplayFor(model => model.Estadia)</th>
                                        <th>@Html.DisplayFor(model => model.Observaciones)</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
}
