@model IEnumerable<RegionalFF.Models.Facilitacion>

@{
    ViewBag.Title = "Facilitación";
    ViewBag.SubTitle = "Lista de Registros de Facilitaciones";
}


<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Create", "Facilitaciones")" class="btn btn-default btn-xs" data-toggle="tooltip" >
                                <i class="fa fa-plus"></i>
                                <strong>Crear Nuevo</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-placement="top" title="Crear Nuevo"  data-target="#crearFacilitacion">
                                <i class="fa fa-plus"></i>
                                <strong>Crear Nuevo</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Administrar el Menú: <code></code>
                    </p>
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-condensed table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fecha)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Pais)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ciudad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cantidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estadia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Observaciones)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario.Nombre) @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pais.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estadia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Observaciones)
                                        </td>
                                        <td class="col-lg-2 btn-group">
                                            <div class="pull-right">
                                                <a class="btn btn-sm btn-warning" href="@Url.Action("Edit", "Facilitaciones", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i> </a>

                                                <a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Facilitaciones", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Ver Detalles"><i class="fa fa-eye"></i> </a>

                                                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Facilitaciones", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fa fa-trash-o"></i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <!-- modals -->
<!-- Large modal -->

<div class="modal" id="crearFacilitacion" tabindex="-1" role="dialog">
@using (Ajax.BeginForm("AjaxRegistroFacilitacion", "Facilitaciones", FormMethod.Post,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "Facilitacion"

        }))
{
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="im-plus"></span>
                        Registrar Facilitacion
                    </h4>
                </div>
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="UserId">Usuario</label>
                            <div class="col-md-10">
                                <select class="form-control" id="UserId" name="UserId">
                                    <option value="1d545d83-39eb-4a04-8be0-4fbea1e299df">Ricardo</option>
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="UserId" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Fecha">Fecha</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="El campo Fecha es obligatorio." id="Fecha" name="Fecha" type="datetime" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Fecha">Origen</label>
                            <div class="col-md-10">
                                @Html.DropDownList("PaisId", null, htmlAttributes: new { @class = "form-control" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Fecha">Destino</label>
                            <div class="col-md-10">
                                @Html.DropDownList("CiudadId", null, htmlAttributes: new { @class = "form-control" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Cantidad">Cantidad</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Cantidad must be a number." data-val-required="Este campo es requerido" id="Cantidad" name="Cantidad" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Cantidad" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Estadia">Estadia</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Estadia must be a number." data-val-required="Este campo es requerido" id="Estadia" name="Estadia" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Estadia" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Observaciones">Anotacion</label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" id="Observaciones" name="Observaciones" placeholder="Observaciones" rows="3"></textarea>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="en-add-to-list"></i> Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
}
</div><!-- /.modal -->