@model IEnumerable<RegionalFF.Models.Facilitacion>
@using Microsoft.AspNet.Identity
@using RegionalFF.Controllers

@{
    ViewBag.Title = "Facilitación";
    ViewBag.SubTitle = "10 Principales Paises de origen";
}

<div class="page-title">
    <div class="title_left">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="title_right">
        <div class="pull-right">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Facilitaciones") " class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Volver" title="Volver"><i class="fa fa-reply"></i></a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#crearFacilitacion" title="Nuevo Registro"><i class="fa fa-pencil"></i></button>
                <a href="@Url.Action("GenerarReporte10", "Facilitaciones") " class=" btn btn-primary" data-toggle="tooltip" data-placement="top" data-original-title="Exportar a Excel" title="Exportar a Excel"><i class="fa fa-file-excel-o"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <i class="fa fa-pie-chart"></i> @ViewBag.SubTitle
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="text-uppercase"><i class="fa fa-filter"></i> @ViewBag.Mes @ViewBag.Año</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a class="tip" title="Columna" href="#mostrar_columna" role="tab" id="granadiente-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i></a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#mostrar_pie" class="tip" title="Pie" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-pie-chart"></i></a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#mostrar_lista" class="tip" title="Lista" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i></a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#filtrar" class="tip" title="Filtrar" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-search"></i></a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#filtrarExcel" class="tip" title="Excel" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-file-excel-o"></i></a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#mostrar_cantidadFecha" class="tip" title="Cantidad Total por Fechas" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="mostrar_columna" aria-labelledby="mostrar_columna">
                            <div id="columna" style="height:350px;"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="mostrar_pie" aria-labelledby="mostrar_pie">
                            <div id="pie" style="height:350px;"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="mostrar_lista" aria-labelledby="mostrar_lista">
                            <div id="lista" style="height:350px;">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">
                                        <span class="badge">Cantidad</span>
                                        País de origen
                                    </a>
                                    @foreach (var item in ViewBag.SeriesData)
                                    {

                                        <a href="#" class="list-group-item">
                                            <span style="background:@item.color;" class="badge">@item.value</span>
                                            @item.name
                                        </a>

                                    }
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="filtrar" aria-labelledby="filtrar">
                            @using (Html.BeginForm("Resultados", "Facilitaciones", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group page-header">
                                    <h2 class="control-label col-lg-3 col-md-3 col-xs-12" for="Fecha">Filtrar resultados</h2>
                                </div>
                                <br />
                                <div class="item form-group">
                                    <label class="control-label col-lg-3 col-md-12 col-xs-12" for="Fecha">Desde</label>
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <input class="form-control text-box single-line text-center" data-val="true" data-val-date="The field Desde must be a date." placeholder="Desde" data-val-required="El campo Desde es obligatorio." id="Desde" name="Desde" type="datetime" required />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-lg-3 col-md-12 col-xs-12" for="Fecha">Hasta</label>
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <input data-validate-length-range="6" data-validate-words="2" class="form-control text-box single-line text-center" data-val="true" data-val-date="The field Hasta must be a date." placeholder="Hasta" data-val-required="El campo Hasta es obligatorio." id="Hasta" name="Hasta" type="datetime" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-xs-12" for="Incluir">Incluir</label>
                                    <div class="col-md-1">
                                        <div class="checkbox">
                                            <input class="check-box" id="Incluir" name="Incluir" type="checkbox" value="true" checked />
                                        </div>
                                    </div>
                                    <label class="control-label col-md-5 col-lg-5 col-md-5 col-xs-12" for="Incluir">Incluir los registros de todos los usuarios?</label>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary btn-block submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Generando"><i class="fa fa-filter"></i> Filtrar resultados</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="filtrarExcel" aria-labelledby="filtrarExcel">
                            @using (Html.BeginForm("FiltrarReporte", "Facilitaciones", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group page-header">
                                    <h2 class="control-label col-lg-3 col-md-3 col-xs-12" for="Fecha">Exportar a Excel</h2>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-12 col-xs-12" for="Fecha">Desde</label>
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <input class="form-control text-box single-line text-center" data-val="true" data-val-date="The field Desde must be a date." placeholder="Desde" data-val-required="El campo Desde es obligatorio." id="Desde" name="Desde" type="datetime" required />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-lg-3 col-md-12 col-xs-12" for="Fecha">Hasta</label>
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <input data-validate-length-range="6" data-validate-words="2" class="form-control text-box single-line text-center" data-val="true" data-val-date="The field Hasta must be a date." placeholder="Hasta" data-val-required="El campo Hasta es obligatorio." id="Hasta" name="Hasta" type="datetime" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-xs-12" for="Incluir">Incluir</label>
                                    <div class="col-md-1">
                                        <div class="checkbox">
                                            <input class="check-box" id="Incluir" name="Incluir" type="checkbox" value="true" checked />
                                        </div>
                                    </div>
                                    <label class="control-label col-md-5 col-lg-5 col-md-5 col-xs-12" for="Incluir">Incluir los registros de todos los usuarios?</label>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary btn-block submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Generando"><i class="fa fa-file-excel-o"></i> Generar Excel</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade active in" id="mostrar_cantidadFecha" aria-labelledby="mostrar_columna">
                            <div id="cantidadFecha" style="height:350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/amcharts")
    @Scripts.Render("~/bundles/datetimepicker")
    <script>
        $(function () {
            $("button.submit").click(function () {
                var Desde = $("#Desde").val();
                var Hasta = $("#Hasta").val();
                if ((Desde != "") && (Hasta != "")) {
                    var $this = $(this);
                    $this.button('loading').removeClass("btn-primary").addClass("btn-link");
                    setTimeout(function () {
                        $this.button('reset').removeClass("btn-link").addClass("btn-primary");
                    }, 8000);
                }
            });

            var Texto = @Html.Raw(Json.Encode(ViewBag.Title));
            var SubTitulo = @Html.Raw(Json.Encode(ViewBag.SubTitle));
            var Titulo = @Html.Raw(Json.Encode(ViewBag.SubTitle))+@Html.Raw(Json.Encode(ViewBag.Mes))+"/@Html.Raw(Json.Encode(ViewBag.Año))";
            var LegendData = @Html.Raw(Json.Encode(ViewBag.LegendData));
            var SeriesData = @Html.Raw(Json.Encode(ViewBag.SeriesData));

            AmCharts.makeChart("pie", {
                "type": "pie",
                "theme": "light",
                "language": "es",
                "dataProvider": SeriesData,
                "titleField": "name",
                "valueField": "value",
                "startEffect": "elastic",
                "startDuration": 3,
                "labelRadius": 35,
                "innerRadius": "20%",
                "depth3D": 15,
                "angle": 30,
                "chartCursor": {
                    "categoryBalloonEnabled": true,
                    "cursorAlpha": 0,
                    "zoomable": true
                },
                "legend": {
                    "position": "left"
                },
                "autoMargins": true,
                "outlineThickness": 2,
                "outlineColor": "#FFFFFF",
                "outlineAlpha": 0.8,
                "balloonText": "[[name]]<br><span class='text-primary' style='font-size:16px'><b>[[value]]</b> ([[percents]]%)</span>",
                "colorField": "color",
                "labelText": "[[name]]:  [[value]] ([[percents]]%)",
                "responsive": {
                    "enabled": false
                },
                "export": {
                    "enabled": true
                }
            });


            var chart = AmCharts.makeChart("columna", {
                "theme": "light",
                "type": "serial",
                "startDuration": 2,
                "dataProvider": SeriesData,
                "valueAxes": [{
                    "position": "left",
                    "title": "Cantidad de turistas"
                }],
                "graphs": [{
                    "balloonText": "[[name]]: <b>[[value]]</b>",
                    "fillColorsField": "color",
                    "fillAlphas": 1,
                    "lineAlpha": 0.1,
                    "type": "column",
                    "labelText": "[[value]]",
                    "valueField": "value"
                }],
                "depth3D": 20,
                "angle": 30,
                "chartCursor": {
                    "categoryBalloonEnabled": true,
                    "cursorAlpha": 0,
                    "zoomable": true
                },
                "categoryField": "name",
                "categoryAxis": {
                    "gridPosition": "start",
                    "labelRotation": 90
                },
                "export": {
                    "enabled": true
                }

            });

            var chart = AmCharts.makeChart("cantidadFecha", {
                "type": "serial",
                "theme": "light",
                "marginRight": 80,
                "dataProvider": [{
                    "lineColor": "#b7e021",
                    "date": "2012-01-01",
                    "duration": 408
                }, {
                    "date": "2012-01-02",
                    "duration": 482
                }, {
                    "date": "2012-01-03",
                    "duration": 562
                }, {
                    "date": "2012-01-04",
                    "duration": 379
                }, {
                    "lineColor": "#fbd51a",
                    "date": "2012-01-05",
                    "duration": 501
                }, {
                    "date": "2012-01-06",
                    "duration": 443
                }, {
                    "date": "2012-01-07",
                    "duration": 405
                }, {
                    "date": "2012-01-08",
                    "duration": 309,
                    "lineColor": "#2498d2"
                }, {
                    "date": "2012-01-09",
                    "duration": 287
                }, {
                    "date": "2012-01-10",
                    "duration": 485
                }, {
                    "date": "2012-01-11",
                    "duration": 890
                }, {
                    "date": "2012-01-12",
                    "duration": 810
                }],
                "balloon": {
                    "cornerRadius": 6,
                    "horizontalPadding": 15,
                    "verticalPadding": 10
                },
                "valueAxes": [{
                    "duration": "mm",
                    "durationUnits": {
                        "hh": "h ",
                        "mm": "min"
                    },
                    "axisAlpha": 0
                }],
                "graphs": [{
                    "bullet": "square",
                    "bulletBorderAlpha": 1,
                    "bulletBorderThickness": 1,
                    "fillAlphas": 0.3,
                    "fillColorsField": "lineColor",
                    "legendValueText": "[[value]]",
                    "lineColorField": "lineColor",
                    "title": "duration",
                    "valueField": "duration"
                }],
                "chartCursor": {
                    "categoryBalloonDateFormat": "YYYY MMM DD",
                    "cursorAlpha": 0,
                    "fullWidth": true
                },
                "dataDateFormat": "YYYY-MM-DD",
                "categoryField": "date",
                "categoryAxis": {
                    "dateFormats": [{
                        "period": "DD",
                        "format": "DD"
                    }, {
                        "period": "WW",
                        "format": "MMM DD"
                    }, {
                        "period": "MM",
                        "format": "MMM"
                    }, {
                        "period": "YYYY",
                        "format": "YYYY"
                    }],
                    "parseDates": true,
                    "autoGridCount": false,
                    "axisColor": "#555555",
                    "gridAlpha": 0,
                    "gridCount": 50
                },
                "export": {
                    "enabled": true
                }
            });
        })
    </script>
}
@Html.Partial("_PartialFacilitacion")