@model RegionalFF.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Recuperar Cuenta";
    ViewBag.Denominacion = "RegionalFF";
}


<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="150" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />


    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1> <i class="fa fa-sign-in"></i>  @ViewBag.Denominacion</h1>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Ingrese su Email", @class = "form-control input-lg" })
        </div>

        <div>
            <button type="submit" class="btn btn-success btn-lg btn-block submit">Recuperar cuenta</button>
            <a class="" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}