@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Correo enviado";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <div class="clearfix"></div>
    <form class="form-horizontal">
        <h1> <i class="fa fa-send"></i>   @ViewBag.Title</h1>
        <div class="bs-callout bs-callout-info" id="callout-pagination-label">
            <h4><i class="fa fa-info"></i> Revise su correo electrónico</h4>
            <p class="text-justify">
                Te enviamos un enlace para restablecer tu contraseña. Si no aparece dentro de unos minutos, revisa tu carpeta de correo no desead
            </p>
        </div>
        <hr />
        <div class="">
            <a class="reset_pass" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
        </div>
        <br />
        <div class="clearfix"></div>

        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    </form>

</section>