@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "He olvidado la contraseña de confirmación";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="150" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <h1> <i class="fa fa-sign-in"></i>  @ViewBag.Denominacion</h1>
    <div>
        <p>
            Por favor, consultar su correo electrónico para restablecer la contraseña.
        </p>
    </div>

    <div>
        <a class="" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
    </div>

</section>