@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Confirmación";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <div class="clearfix"></div>
    <form method="get" class="">
    <h1> <i class="fa fa-sign-in"></i>   @ViewBag.Title</h1>
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong><i class="fa fa-envelope-o"></i></strong> Compruebe el correo electrónico para restablecer la contraseña.
    </div>
    <hr />
    <div class="">
        @*<a class="btn btn-primary btn-block" href="@TempData["link"]"> Restablecer su contraseña</a>*@
        <a class="reset_pass" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
    </div>
    <br />
    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
        </div>
    </div>
    </form>

</section>