@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Restablecer";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <div class="clearfix"></div>
    @*<form method="get" action="@TempData["link"]">*@
        <h1> <i class="fa fa-sign-in"></i>   @ViewBag.Title</h1>
        <div class="">
            <a class="btn btn-primary btn-block" href="@TempData["link"]"> Restablecer su contraseña</a>
            <a class="reset_pass" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
        </div>
        <br />
        <div class="clearfix"></div>

        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    @*</form>*@

</section>