@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Confirmación";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <div class="clearfix"></div>
    <form  class="form-horizontal">
        <h1> <i class="fa fa-sign-in"></i>   @ViewBag.Title</h1>
        <blockquote>
            <p>
                <i class="fa fa-envelope-o"></i> Te hemos enviado un correo electrónico con un enlace para restablecer la contraseña.
            </p>
        </blockquote>
        <hr />
        <div class="">
            <a class="reset_pass" href="@Url.Action("Login", "Account")">Iniciar Sesión</a>
        </div>
        <br />
        <div class="clearfix"></div>

        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    </form>

</section>