@using RegionalFF.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Iniciar Sesión";
    ViewBag.Denominacion = "RegionalFF";
}


<section class="login_content">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
    {
        
        @Html.AntiForgeryToken()
        <h1>@ViewBag.Title</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger text-left" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger text-left" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
        </div>
        <div class="form-group">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>

    <div>
        <button type="submit" class="btn btn-default submit">Entrar</button>
        <a class="reset_pass" href="#">Olvidaste tu contraseña?</a>
    </div>

        <div class="clearfix"></div>

        <div class="separator">
            @*<p class="change_link">
                New to site?
                <a href="#signup" class="to_registe"> Create Account </a>
            </p>*@

            <div class="clearfix"></div>
            <br />

            <div>
                <h1><i class="fa fa-pencil"></i> @ViewBag.Denominacion</h1>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    }
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}