@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Restablecido";
    ViewBag.Title2 = "Confirmación de restablecimiento de contraseña";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <form>
        <h1>  @ViewBag.Title.</h1>
        <div class="bs-callout bs-callout-success" id="callout-pagination-label">
            <h4><i class="fa fa-check"></i> Contraseña restablecida</h4>
            <p class="text-center">
                Su contraseña ha sido restablecida.
            </p>
        </div>
        <div class="">
            <a class="reset_pass" href="@Url.Action("Login", "Account")">Volver a conectarse</a>
        </div>
        <br />
        <div class="clearfix"></div>
        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    </form>
</section>