@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Confirmación";
    ViewBag.Title2 = "Confirmación de restablecimiento de contraseña";
    ViewBag.Denominacion = "RegionalFF";
}

<section class="login_content">
    <img src="~/Content/img/RegionalFFlogin.png" class="image" width="100" title="@ViewBag.Denominacion" alt="@ViewBag.Denominacion" />
    <form>
        <h1> <i class="fa fa-check"></i> @ViewBag.Title.</h1>
        <div class="alert alert-success">
            Tu contraseña ha sido restablecida.
        </div>

        <br />
        <div class="clearfix"></div>

        <div class="">
            @Html.ActionLink("Por favor haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", title = "Iniciar Sesón", @class = "btn btn-link btn-block" })
        </div>

        <br />
        <div class="clearfix"></div>

        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <p>&copy; @DateTime.Now.Year - @ViewBag.Denominacion</p>
            </div>
        </div>
    </form>
</section>