@model RegionalFF.Models.SendCodeViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Enviar";
    ViewBag.SubTitle = "Enviar el código de verificación";
}

<!-- page content -->

<div class="row">
    <div class="">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, "Seleccionar", new { @class = "form-control", @placeholder = "Seleccionar", @required = "true" })
                        @Html.ValidationMessageFor(model => model.SelectedProvider, "", new { @class = "text-danger" })
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-send"></i> Enviar</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
