@model RegionalFF.Models.VerifyCodeViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Verificar";
    ViewBag.SubTitle = "Ingrese el código de verificación";
}

<!-- page content -->

<div class="row">
    <div class="">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("provider", @Model.Provider)
                    @Html.Hidden("rememberMe", @Model.RememberMe)

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @autocomplete = "off", @placeholder = @ViewBag.SubTitle })
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberBrowser)
                            @Html.LabelFor(m => m.RememberBrowser)
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-send"></i> Enviar</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
