@model RegionalFF.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrador";
    ViewBag.SubTitle = "Editar Usuario";
}



<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Index", "Admin")" class="">
                                <i class="fa fa-reply"></i>
                                Volver al listado de usuarios
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("EditarRoles", "Admin", new { UserName = Model.UserName })" class="">
                                <i class="fa fa-check-square-o"></i>
                                Asignar Roles
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Email", @readonly = "true" } })

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Nombre" } })

                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Apellido" } })

                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Nº Funcionario" } })

                                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Nº de Documento" } })

                                @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Telefono" } })

                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3 " })
                            <div class="col-lg-6">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Usuario" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-lg-3" })
                            <div class="col-lg-6">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-lg-12", @placeholder = "Contraseña", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Oficina, "Oficina", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.DropDownList("OficinaId", null, new { @class = "form-control col-md-12", @placeholder = "Oficina", @required = "true" })
                                @Html.ValidationMessageFor(model => model.OficinaId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <disv class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="reset" class="btn btn-default">Limpiar</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
                            </div>
                        </disv>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}