@model IEnumerable<RegionalFF.Models.UsuarioAmpliado>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administración";
    ViewBag.SubTitle = "Usuarios";

    HttpCookie RegionalFFCookies = HttpContext.Current.Request.Cookies["GlobalRegionalFF"] ?? new HttpCookie("GlobalRegionalFF ");
    var archivo = Path.GetFileName(RegionalFFCookies.Values["ImagenUsuarioCurrent"]);
    if (archivo == "")
    {
        archivo = "default";
    }
    var path = Path.Combine(Server.MapPath("~/Content/img/Uploads/Usuarios/Thumbnail/" + archivo), archivo + ".png");
    byte[] imageByteData = System.IO.File.ReadAllBytes(path);
    string imageBase64Data = Convert.ToBase64String(imageByteData);
    string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
    ViewBag.ImagenUsuarioCurrent = imageDataURL;
}


<div class="page-title">
    <div class="title_left">
        <h3><i class="fa fa-shield"></i> @ViewBag.Title</h3>
    </div>

    <div class="title_right">
        <div class="pull-right">
            <div class="btn-group">
                <a href="@Url.Action("Create", "Admin")" class="btn btn-default visible-lg" data-toggle="tooltip" title="Crear usuario">
                    <i class="fa fa-plus-circle"></i>
                    Nuevo Usuario
                </a>
                <a href="@Url.Action("Create", "Admin")" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Crear usuario">
                    <i class="fa fa-plus-circle"></i>
                </a>

                <a href="@Url.Action("NuevoRol", "Admin")" class="btn btn-default visible-lg" data-toggle="tooltip" title="Crear rol">
                    <i class="fa fa-plus-circle"></i>
                    Nuevo Rol
                </a>
                <a href="@Url.Action("NuevoRol", "Admin")" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Crear rol">
                    <i class="fa fa-plus-circle"></i>
                </a>

                <a href="@Url.Action("Usuarios", "Admin")" class="btn btn-default visible-lg" data-toggle="tooltip" title="Usuarios">
                    <i class="fa fa-users"></i>
                    Ver Usuarios
                </a>
                <a href="@Url.Action("Usuarios", "Admin")" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Usuarios">
                    <i class="fa fa-users"></i>
                </a>

                <a href="@Url.Action("Roles", "Admin")" class="btn btn-default visible-lg" data-toggle="tooltip" title="Roles">
                    <i class="fa fa-shield"></i>
                    Ver Roles
                </a>
                <a href="@Url.Action("Roles", "Admin")" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Roles">
                    <i class="fa fa-shield"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @ViewBag.SubTitle
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-condensed table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="col-lg-1 col-xs-3 text-left">
                                    <i class="fa fa-cog"></i>
                                </th>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Pertenece a:
                                </th>
                                <th>
                                    Nº Func.
                                </th>
                                <th>
                                    Documento
                                </th>
                                <th>
                                    Telefono
                                </th>
                                <th>
                                    Direccion
                                </th>
                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-lg-1 col-xs-3 text-center">
                                        <span class="btn-group">
                                            <a class="btn btn-warning btn-xs" href="@Url.Action("EditarUsuario", "Admin", new { Email = item.Email })" data-toggle="tooltip" data-placement="top" title="Editar"><em class="fa fa-pencil"></em> </a>
                                            <a class="btn btn-danger btn-xs" onclick="return confirm('¿Seguro que desea eliminar este usuario?');" href="@Url.Action("DeleteUser", "Admin", new { Email = item.Email })" data-toggle="tooltip" data-placement="top" title="Borrar"><em class="fa fa-trash"></em></a>
                                        </span>
                                    </td>
                                    <td>
                                        @{
                                            if (item.Imagen != "")
                                            {
                                                <img class="img-thumbnail" title="@item.Nombre" alt="@item.Nombre" width="40" src="@Url.Content("~/Content/img/Uploads/Usuarios/Thumbnail/" + item.Imagen +"/" +item.Imagen + ".png")" />
                                            }
                                            else
                                            {
                                                <img class="img-thumbnail" title="@item.Nombre" alt="@item.Nombre" width="40" src="@Url.Content("~/Content/img/Uploads/Usuarios/Thumbnail/default/default.png")" />
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Oficina.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Direccion)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
}
