@model IEnumerable<RegionalFF.Models.RoleDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrar Roles";
    ViewBag.SubTitle = "Lista de Roles";
}




<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Index", "Admin")" class="">
                                <i class="fa fa-reply"></i>
                                Volver a Usuarios
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("NuevoRol", "Admin")" class="">
                                <i class="fa fa-plus-circle"></i>
                                Nuevo Rol
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">

                        @*@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
                            {
                                <div class="col-md-7">
                                    <div class="input-group">
                                        @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string, "", new { @class = "form-control", @autocomplete = "off", @placeholder = "Buscar por nombre de Usuario o Email ..." })
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            }*@


                        <table id="datatable-responsive" class="table table-striped table-hover table-condensed dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        Roles
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            @if (item.RoleName.ToLower() != "administrator")
                                            {
                                                @Html.ActionLink("Delete", "DeleteUserRole", new { RoleName = item.RoleName }, new {  onclick =  "return confirm('Are you sure you wish to delete this role?');"})
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
