@model RegionalFF.Models.Pais

@{
    ViewBag.Title = "Paises";
    ViewBag.SubTitle = "Eliminar";
    ViewBag.Eliminar = "Estas seguro que quieres eliminar esto?";
}

<div class="page-title">
    <div class="title_left">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="title_right">
        <div class="pull-right">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Paises")" class="btn btn-default visible-lg" data-toggle="tooltip" title="Volver">
                    <i class="fa fa-reply"></i>
                    Volver
                </a>
                <a href="@Url.Action("Index", "Paises")" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Volver">
                    <i class="fa fa-reply"></i>
                </a>

                <a href="@Url.Action("Edit", "Paises", new { id = Model.Id })" class="btn btn-default visible-lg" data-toggle="tooltip" title="Editar">
                    <i class="fa fa-edit"></i>
                    <strong>Editar</strong>
                </a>
                <a href="@Url.Action("Edit", "Paises", new { id = Model.Id })" class="btn btn-default hidden-lg" data-toggle="tooltip" title="Editar">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @ViewBag.SubTitle
                </h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <span>@ViewBag.Eliminar</span>
                            <button type="submit" onclick="submit()" value="Eliminar" class="btn btn-danger btn-sm text-center" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i>  Eliminar</button>
                        }
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <section>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                    </dl>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>