@model IEnumerable<RegionalFF.Models.Menu>

@{
    ViewBag.Title = "Menú del Sistema";
    ViewBag.SubTitle = "Lista de Menus";
}


<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Create", "Menus")" class="btn btn-default btn-sm">
                                <i class="fa fa-user-plus"></i>
                                Crear Nuevo
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="datatable-responsive" class="table table-striped table-bordered table-condensed dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PadreId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Accion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Controlador)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Activo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PadreId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Accion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Controlador)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Activo)
                                        </td>
                                        <td>
                                            <div class="btn-group  btn-group-xs">
                                                <a class="btn btn-warning" href="@Url.Action("Edit", "Menus", new { id = item.Id })"><i class="fa fa-edit"></i> </a>
                                                <a class="btn btn-primary" href="@Url.Action("Details", "Menus", new { id = item.Id })"><i class="fa fa-list"></i></a>
                                                <a class="btn btn-danger" href="@Url.Action("Delete", "Menus", new { id = item.Id })"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>