@model  IEnumerable<RegionalFF.Models.Menu>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    if (item.Accion != null && item.Controlador != null && item.Accion != "" && item.Controlador != "" && item.PadreId == 0)
    {
        <li>@Html.ActionLink(item.Nombre, item.Accion, item.Controlador)</li>
    }
    else
    {
        <li class="menu-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.DisplayFor(model => item.Nombre) <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @foreach (var subitem in item.Hijo())
                {
                    var nodes = subitem.Hijo();
                    if (nodes.Count() > 0)
                    {
                        <li class="menu-item dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.DisplayFor(model => subitem.Nombre) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var node in nodes)
                                {
                                    <li class="menu-item">@Html.ActionLink(node.Nombre, node.Accion, node.Controlador)</li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(subitem.Nombre, subitem.Accion, subitem.Controlador)</li>
                    }
                }
            </ul>
        </li>
    }
}