@model RegionalFF.Models.IndexViewModel
@{
    ViewBag.Title = "Administración del Perfil";
    ViewBag.SubTitle = "Información del Usuario";
}

@using Microsoft.AspNet.Identity
@using RegionalFF.Controllers

@{
    string Usuario = "";
    if (User.Identity.GetUserName() != "")
    {

        OficinasController oficinacur = new OficinasController();
        ViewBag.Sigla = oficinacur.getEmpresaSiglaUsers(User.Identity.GetUserName());
        ViewBag.Oficina = oficinacur.getEmpresaUsers(User.Identity.GetUserName());
        ViewBag.ImagenUsuarioCurrent = oficinacur.getImagenUsuario(User.Identity.GetUserName());
        ViewBag.NumeroUsuario = oficinacur.getEmpresaNumeroUsers(User.Identity.GetUserName());
        ViewBag.NombreUsuario = oficinacur.getEmpresaNombreUsuario(User.Identity.GetUserName());
        ViewBag.ApellidoUsuario = oficinacur.getEmpresaApellidoUsuario(User.Identity.GetUserName());
        ViewBag.UsernameUsuario = oficinacur.getEmpresaUsernameUsuario(User.Identity.GetUserName());
        ViewBag.Documento = oficinacur.getEmpresaDocumentoUsers(User.Identity.GetUserName());
        ViewBag.Direccion = oficinacur.getEmpresaDireccionUsers(User.Identity.GetUserName());
        ViewBag.Email = User.Identity.GetUserName();

        FacilitacionesController hoy = new FacilitacionesController();
        ViewBag.Cant = hoy.getTotalRegistroHoy(User.Identity.GetUserName());
        ViewBag.CantMes = hoy.getTotalRegistroMes(User.Identity.GetUserName());
        ViewBag.CantAnio = hoy.getTotalRegistroAnio(User.Identity.GetUserName());

        string Email = "";
        int Index = 0;
        Email = User.Identity.GetUserName();
        Index = Email.IndexOf("@");
        Usuario = Email.Substring(0, Index);
    }
}


<div class="page-title">
    <div class="title_left">
        <h3><i class="fa fa-shield text-warning"></i> @ViewBag.Title</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <small><i class="fa fa-info-circle"></i> @ViewBag.SubTitle</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img image view view-first">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/Content/img/Uploads/Usuarios/@ViewBag.ImagenUsuarioCurrent" alt="@Usuario" title="@Usuario">
                            <div class="mask">
                                <p>Actualizar Foto de Perfil</p>
                                <div class="tools tools-top">
                                    <a class="" href="@Url.Action("CambiarImagen", "Admin")"><i class="fa fa-pencil"></i> Cambiar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="@Url.Action("ModificarUsuario", "Admin")" class="btn btn-default btn-block"><i class="fa fa-edit m-right-xs"></i> Modificar Información</a>

                    <h3 class="text-center">@ViewBag.NombreUsuario @ViewBag.ApellidoUsuario</h3>

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt>Email:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-envelope user-profile-icon"></i>
                            @ViewBag.Email
                        </dd>


                        <dt>Usuario:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-user user-profile-icon"></i>
                            @ViewBag.UserNameUsuario
                        </dd>


                        <dt>Documento:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-certificate user-profile-icon"></i>
                            @ViewBag.Documento
                        </dd>

                        <dt>Oficina:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-map-marker user-profile-icon"></i>
                            @ViewBag.Oficina
                        </dd>

                        <dt>Sigla: </dt>
                        <dd class="text-muted">
                            <i class="fa fa-strikethrough user-profile-icon"></i>
                            @ViewBag.Sigla
                        </dd>

                        <dt>Dirección:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-location-arrow user-profile-icon"></i>
                            @ViewBag.Direccion
                        </dd>

                        <dt> Nº de Funcionario:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-ticket user-profile-icon"></i>
                            @ViewBag.NumeroUsuario
                        </dd>
                        <dt><br /></dt>
                        <dd><br /></dd>
                        <dt>Foto de perfil:</dt>
                        <dd class="text-muted">
                            [
                            <a href="@Url.Action("CambiarImagen", "Admin")" class="text-success">
                                <i class="fa fa-camera"></i>
                                Cambiar la Foto del perfil
                            </a>
                            ]
                        </dd>
                        <dt>Contraseña:</dt>
                        <dd class="text-muted">
                            [
                            @if (Model.HasPassword)
                            {

                                <a href="@Url.Action("ChangePassword", "Manage")" class="text-success">
                                    <i class="fa fa-lock"></i>
                                    Cambia tu contraseña
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("SetPassword", "Manage")" class="text-info">
                                    <i class="fa fa-lock"></i>
                                    Crear una contraseña
                                </a>
                            }
                            ]
                        </dd>
                        <dt>Número de teléfono:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-phone"></i>&nbsp;
                            @(Model.PhoneNumber ?? "Ninguno") [
                            @if (Model.PhoneNumber != null)
                            {
                                @Html.ActionLink("Cambiar", "AddPhoneNumber", "", new { @class = "text-success" })
                                @: &nbsp;|&nbsp;
                                @Html.ActionLink("Eliminar", "RemovePhoneNumber", "", new { @class = "text-danger" })
                            }
                            else
                            {

                                <a href="@Url.Action("AddPhoneNumber", "Manage")" class="text-info">
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                </a>
                            }
                            ]
                        </dd>

                        <dt>Autenticación:</dt>
                        <dd class="text-muted">
                            <p>Verificación en dos pasos:</p>
                            @if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>
                                        <input type="button" value="Habilitar" class="btn btn-default" disabled />
                                        <input type="submit" value="Deshabilitar" class="btn btn-default" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>
                                        <input type="button" value="Deshabilitar" class="btn btn-default" disabled />
                                        <input type="submit" value="Habilitar" class="btn btn-default" />
                                    </text>
                                }
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
