@model RegionalFF.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using RegionalFF.Controllers

@{
    ViewBag.Title = "Administración";
    ViewBag.SubTitle = "Información del Usuario";

    HttpCookie RegionalFFCookies = HttpContext.Current.Request.Cookies["GlobalRegionalFF"];
}

<div class="page-title">
    <div class="title_left">
        <h3><i class="fa fa-shield"></i> @ViewBag.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @RegionalFFCookies.Values["NombreUsuario"] @RegionalFFCookies.Values["ApellidoUsuario"]
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img image view view-first">
                        <div id="" class="img-responsive">
                            <!-- Current avatar -->
                            <img src="@TempData["imageDataURL"]" alt="@RegionalFFCookies.Values["Usuario"]" width="100%" class="img-thumbnail avatar-view tip" data-toggle="tooltip" title="Cambiar la foto de perfil" />
                        </div>
                    </div>
                    <div class="caption">
                        <p>
                            <a class="btn btn-default btn-sm btn-block" href="#" data-target="#cambiarImagen" data-toggle="modal" data-placement="top" title="Cambiar Foto"><i class="fa fa-camera"></i> Cambiar foto de perfil</a>
                        </p>
                        <p>
                            <a href="@Url.Action("ModificarUsuario", "Admin")" class="btn btn-primary btn-sm btn-block" data-toggle="tooltip" title="Modificar informacion"><i class="fa fa-edit"></i> Modificar Información</a>
                        </p>
                        <hr />
                        <p class="text-uppercase text-primary">Verificación en dos pasos:</p>
                        @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    <input type="button" value="Habilitar" class="btn btn-default btn-block btn-sm" disabled />
                                </p>
                                <p>
                                    <input type="submit" value="Deshabilitar" data-toggle="tooltip" title="Deshabilitar Verificación" class="btn btn-default btn-block btn-sm" />
                                </p>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    <input type="button" value="Deshabilitar" class="btn btn-default btn-block btn-sm" disabled />
                                </p>
                                <p>
                                    <input type="submit" value="Habilitar" data-toggle="tooltip" title="Habilitar Verificación" class="btn btn-default btn-block btn-sm" />
                                </p>
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt class=""></dt>
                        <dd class="page-header text-uppercase text-primary">Datos Personales</dd>

                        <dt>Usuario:</dt>
                        <dd class="">
                            <i class="fa fa-user user-profile-icon"></i>
                            @RegionalFFCookies.Values["UserNameUsuario"]
                        </dd>

                        <dt>Número de teléfono:</dt>
                        <dd class="text-muted">
                            <i class="fa fa-phone"></i>&nbsp;
                            @(Model.PhoneNumber ?? "Ninguno") [
                            @if (Model.PhoneNumber != null)
                            {
                                @Html.ActionLink("Cambiar", "AddPhoneNumber", "", new { @class = "text-success" })
                                @: &nbsp;|&nbsp;
                                @Html.ActionLink("Eliminar", "RemovePhoneNumber", "", new { @class = "text-danger" })
                            }
                            else
                            {

                                <a href="@Url.Action("AddPhoneNumber", "Manage")" class="text-info">
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                </a>
                            }
                            ]
                        </dd>
                        <dt>Documento:</dt>
                        <dd class="">
                            @RegionalFFCookies.Values["Documento"]
                        </dd>


                        <dt>Dirección:</dt>
                        <dd class="">
                            @*<i class="fa fa-location-arrow user-profile-icon"></i>*@
                            @RegionalFFCookies.Values["Direccion"]
                        </dd>

                        <dt class=""></dt>
                        <dd class="page-header text-uppercase text-primary">Datos de la Cuenta</dd>

                        <dt>Email:</dt>
                        <dd class="">
                            <i class="fa fa-envelope user-profile-icon"></i>
                            @RegionalFFCookies.Values["Email"]
                        </dd>

                        <dt>Contraseña:</dt>
                        <dd class="text-muted">
                            [
                            @if (Model.HasPassword)
                            {

                                <a href="@Url.Action("ChangePassword", "Manage")" class="">
                                    <i class="fa fa-lock"></i>
                                    Cambia tu contraseña
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("SetPassword", "Manage")" class="">
                                    <i class="fa fa-lock"></i>
                                    Crear una contraseña
                                </a>
                            }
                            ]
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt class=""></dt>
                        <dd class="page-header text-uppercase text-primary">Datos de la Oficina</dd>

                        <dt>Nombre:</dt>
                        <dd class="">
                            <i class="fa fa-map-marker user-profile-icon"></i>
                            @RegionalFFCookies.Values["Oficina"]
                        </dd>

                        <dt>Sigla: </dt>
                        <dd class="">
                            @RegionalFFCookies.Values["Sigla"]
                        </dd>

                        <dt> Nº de Funcionario:</dt>
                        <dd class="">
                            @*<i class="fa fa-ticket user-profile-icon"></i>*@
                            @RegionalFFCookies.Values["Numero"]
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="cambiarImagen" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm("AjaxCambiarImagen", "Admin", FormMethod.Post,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "Admin"

        }, new { enctype = "multipart/form-data" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="im-plus"></span>
                        Cambiar la foto de perfil
                    </h4>
                </div>
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Imagen">Imagen</label>
                            <div class="col-lg-8">
                                <input autocomplete="off" class="" id="Imagen" name="Imagen" placeholder="Imagen" required="required" type="file" value="" data-preview-file-type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Imagen" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Subir foto</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    }
</div><!-- /.modal -->