@model RegionalFF.Models.Transporte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Conductor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapaNro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapaNro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
