@using Microsoft.AspNet.Identity
@using RegionalFF.Controllers

@{
    HttpCookie RegionalFF = Request.Cookies["RegionalFF"];
    ViewBag.Title = "Informes";
    ViewBag.SubTitle = "Panel de informes - Facilitación y Fiscalización";
    string Usuario = "";
    if (User.Identity.GetUserName() != "")
    {

        OficinasController oficinacur = new OficinasController();
        ViewBag.Sigla = oficinacur.getEmpresaSiglaUsers(User.Identity.GetUserName());
        ViewBag.Oficina = oficinacur.getEmpresaUsers(User.Identity.GetUserName());
        ViewBag.NombreUsuario = oficinacur.getEmpresaNombreUsuario(User.Identity.GetUserName());
        ViewBag.ApellidoUsuario = oficinacur.getEmpresaApellidoUsuario(User.Identity.GetUserName());


        FacilitacionesController hoyFacilitaciones = new FacilitacionesController();

        ViewBag.TotalRegistroHoyGlobal = hoyFacilitaciones.getTotalRegistroHoy();
        ViewBag.TotalRegistroHoyUsuario = hoyFacilitaciones.getTotalRegistroHoy(User.Identity.GetUserName());

        ViewBag.SumCantHoyGlobal = hoyFacilitaciones.getCantidadRegistroHoy();
        ViewBag.SumCantHoyUsuario = hoyFacilitaciones.getCantidadRegistroHoy(User.Identity.GetUserName());

        ViewBag.SumCantMesGlobal = hoyFacilitaciones.getCantidadRegistroMes();
        ViewBag.SumCantMesUsuario = hoyFacilitaciones.getCantidadRegistroMes(User.Identity.GetUserName());

        ViewBag.SumCantAnioGlobal = hoyFacilitaciones.getCantidadRegistroAnio();
        ViewBag.SumCantAnioUsuario = hoyFacilitaciones.getCantidadRegistroAnio(User.Identity.GetUserName());


        FiscalizacionesController hoyFiscalizaciones = new FiscalizacionesController();

        ViewBag.CantidadBusesHoyUsuario = hoyFiscalizaciones.getTotalRegistroHoyUsuario(User.Identity.GetUserName());
        ViewBag.CantidadBusesHoyGlobal = hoyFiscalizaciones.getTotalRegistroHoyGlobal();

        ViewBag.CantidadBusesMesUsuario = hoyFiscalizaciones.getTotalRegistroMesUsuario(User.Identity.GetUserName());
        ViewBag.CantidadBusesMesGlobal = hoyFiscalizaciones.getTotalRegistroMesGlobal();

        ViewBag.NotificadosHoyGlobal = hoyFiscalizaciones.getTotalBusesNotificadosHoyGlobal();
        ViewBag.NotificadosHoyUsuario = hoyFiscalizaciones.getTotalBusesNotificadosHoyUsuario(User.Identity.GetUserName());

        ViewBag.PasajerosHoyUsuario = hoyFiscalizaciones.getTotalPasajerosHoyUsuario(User.Identity.GetUserName());
        ViewBag.PasajerosHoyGlobal = hoyFiscalizaciones.getTotalPasajerosHoyGlobal();


        ViewBag.PasajerosMesGlobal = hoyFiscalizaciones.getCantidadRegistroMesGlobal();
        ViewBag.PasajerosMesUsuario = hoyFiscalizaciones.getCantidadRegistroMesUsuario(User.Identity.GetUserName());

        ViewBag.PasajerosAnioGlobal = hoyFiscalizaciones.getCantidadRegistroAnioGlobal();
        ViewBag.PasajerosAnioUsuario = hoyFiscalizaciones.getCantidadRegistroAnioUsuario(User.Identity.GetUserName());

        string Email = "";
        int Index = 0;
        Email = User.Identity.GetUserName();
        Index = Email.IndexOf("@");
        Usuario = Email.Substring(0, Index);
    }
}

@if (User.IsInRole("Administrador") || User.IsInRole("Facilitador"))
{

    <div class="page-title">
        <div class="title_left">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="title_right">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default tip" data-toggle="modal" data-target="#crearFacilitacion" title="Nuevo Registro"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-primary tip" title="Exportar a Excel" data-toggle="modal" data-target="#abrirexportar">
                        <i class="fa fa-file-excel-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h4><span class="label label-primary">Informe de Facilitación Global</span> </h4>
    </div>
    <div class="row top_tiles  tile_count">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats tip" title="Datos de la Oficina">
                <div class="icon"><i class="fa fa-building text-info"></i></div>
                <div class="count">
                    <i class="fa fa-home"></i> @RegionalFF.Values["Sigla"]
                </div>
                <h3>@RegionalFF.Values["Rol"]</h3>
                <p>@RegionalFF.Values["Oficina"]</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats tip" title="Total de turistas registrados - Hoy">
                <div class="icon"><i class="fa fa-pencil text-info"></i></div>
                <div class="count">
                    @RegionalFF.Values["CantRegistroHoy"]
                </div>
                <h3>Hoy</h3>
                <p>Total turistas Registrados</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-pencil-square-o text-info"></i></div>
                <div class="count">
                    @RegionalFF.Values["CantTotalMes"]
                </div>
                <h3>Este Mes</h3>
                <p>Total turistas Registrados</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-pencil-square text-info"></i></div>
                <div class="count">
                    @RegionalFF.Values["CantTotalAnio"]
                </div>
                <h3>Este Año</h3>
                <p>Total Turistas Registrados</p>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h4><span class="label label-primary">Informe de Facilitación - @RegionalFF.Values["Nombre"] @RegionalFF.Values["Apellido"] - @RegionalFF.Values["Rol"]</span></h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats tip" title="Datos del Funcionario">
                            <div class="icon"><i class="fa fa-user-circle text-info"></i></div>
                            <div class="count">
                                @RegionalFF.Values["CantTotalAnio"] 
                            </div>
                            <h3> Usuario N° @RegionalFF.Values["Numero"]</h3>
                            <p>@RegionalFF.Values["Rol"]</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users text-info"></i></div>
                            <div class="count">
                                @ViewBag.SumCantHoyUsuario
                            </div>
                            <h3>Hoy</h3>
                            <p>Turistas Registrados por @Usuario</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users text-info"></i></div>
                            <div class="count">
                                @ViewBag.SumCantMesUsuario
                            </div>
                            <h3>Este Mes</h3>
                            <p>Turistas Registrados por @Usuario</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users text-info"></i></div>
                            <div class="count">
                                @ViewBag.SumCantAnioUsuario
                            </div>
                            <h3>Este Año</h3>
                            <p>Turistas Registrados por @Usuario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@if (User.IsInRole("Administrador") || User.IsInRole("Fiscalizador"))
{

    <div class="row">
        <div class="col-md-12">
            <div class="x_content">
                <ul class="stats-overview">
                    <li>
                        <span class="name"> Total de Buses Fiscalizados - Hoy</span>
                        <span class="value text-success"> @ViewBag.CantidadBusesHoyGlobal </span>
                    </li>
                    <li>
                        <span class="name"> Total de Pasajeros - Hoy</span>
                        <span class="value text-success"> @ViewBag.PasajerosHoyGlobal </span>
                    </li>
                    <li>
                        <span class="name"> Total de Buses Notificados - Hoy</span>
                        <span class="value text-success"> @ViewBag.NotificadosHoyGlobal </span>
                    </li>
                </ul>
                <div class="row">

                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="ion-person text-info"></i></div>
                            <div class="count" title="@ViewBag.Oficina">
                                <i class="fa fa-home"></i> @ViewBag.Sigla
                            </div>
                            <h3>@ViewBag.NombreUsuario @ViewBag.ApellidoUsuario </h3>
                            <p>@ViewBag.Oficina</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-bus text-info"></i></div>
                            <div class="count">
                                @ViewBag.CantidadBusesHoyUsuario
                            </div>
                            <h3>Hoy</h3>
                            <p>Buses Registrados - @Usuario</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-bell text-info"></i></div>
                            <div class="count">
                                @ViewBag.NotificadosHoyUsuario
                            </div>
                            <h3>Hoy</h3>
                            <p>Buses Notificados - @Usuario</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-users text-info"></i></div>
                            <div class="count">
                                @ViewBag.PasajerosHoyUsuario
                            </div>
                            <h3>Hoy</h3>
                            <p>Pasajeros - @Usuario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_PartialFacilitacion")